section.about {
  .came-up-with {
    font-size: 60px;
    font-weight: 800;
  }
  .background.row {
    margin-top: 60px;
  }
  .row {
    padding-bottom: 80px;
    border-bottom: #999 solid 1px;
    margin-bottom: 80px;
  }
}