.header {
  min-height: 184px;
  position: relative;
  @include dark-gradient();

  text-align: center;

  background-position: fixed;

  margin-bottom: 60px;
}
.header h2 {
  color: white;
  padding-top: 46px;
  padding-bottom: 46px;
  font-weight: 200;
  font-size: 92px;
  width: 100%;
}