---
title: Ben Aubin
---

%section.top
  .text-xs-center#name-block
    %h1.name Ben Aubin
  .scroll-button
    %i(class="material-icons") arrow_drop_down
%section.about
  .container
    .background.row
      .col-sm-6
        %h2 I made this.
        %p.lead
          It didn't feel right to turn in a sheet of paper to a school that may define the rest of my life. I wanted to
          create something that not only answers the questions you ask of applicants but also allows me the creative
          freedom to share my nature and interests in a more meaningful way.
      .col-sm-5.offset-sm-1
        .came-up-with This is what I came up with.
    .row
      .col-md-12
        %h2 I am a developer.
      .col-sm-6
        %p.lead
          I use code to solve problems that I come across. At the start of 6th grade, I was trying to find a homework
          planner that worked for me, but as hard as I looked, I couldn't find one. I decided to create my own. I taught
          myself how to code, and over the course of a year, I created <a href="http://planhw.com" target="_blank">PlanHW</a>.
          It worked great. I shared it with friends, many of which loved using it, and it solved the problem I saw.
      .col-sm-5.offset-sm-1
        %img(src="http://bsite.cc/j7vv/Screen%20Shot%202017-02-11%20at%2011.08.29%20AM.png" width="100%")
    .row
      .col-sm-6
        %h2 I am a story-teller.
        %p.lead
          Telling stories is amazing. I started a <a href="https://heyaustin.org" target="_blank">student publication</a>
          with some friends to explore topics that matter to our city, like the
          <a href="https://heyaustin.org/grove/" target="_blank">piece</a> I wrote about the Grove at Shoal Creek.
          I love telling stories with whatever tools I can use, whether it's video, graphics, or even just fonts, I love
          using them to create captivating experiences.
      .col-sm-5.offset-sm-1.embed-responsive.embed-responsive-16by9
        %iframe(src="https://heyaustin.org")
    .row
      .col-sm-6
        %h2 I am a leader.
        %p.lead
          I work with groups that get amazing things done. I led a group of middle-schoolers as we planned our school's
          annual Global Festival, a winter celebration of all cultures. I am part of our school's No Place for Hate
          committee, a group of students who promote respect and diversity with activities throughout the year. Last
          Thursday, I rallied together a group of students to take over a school fundraiser after chaos left the
          previous group to abandon the project.
      .col-sm-5.offset-sm-1
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D10155125079044274%26id%3D81873244273&width=500" width="500" height="218" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    .row
      .col-sm-6
        %h2 I am a student.
        %p.lead
          I've been at ACE for the past 3 years. Part of going to a gifted school meant I could take courses years above
          my grade, all of which have been challenging. That doesn't mean I don't like them - the most rewarding
          experience in school is when I turn in that paper I worked so hard on, or when I learn something new and am
          able to do things that were impossible for me before.
      .col-sm-5.offset-sm-1
        .blockquote
          %p
            One area that Ben excels in is using technology to analyze and present data. He is<mark>consistently
            adept</mark> at trying new software to make his projects <mark>unique and detailed</mark>. His corn project
            and his dichotomous key were given extra credit because of the level of <mark>detail and novelty</mark>
            using technology.
          .blockquote-footer Dr. Buckley, Science Teacher at ACE
%section.high-school
  .text-xs-center.header
    %h2 High School
  .container
    .row
      .col-md-8.offset-md-2
        %p.lead
          I think the purpose of school is to be prepared for a life outside of school. To me, being ready for college
          and learning skills that will help me throughout my life are the most important goals of high school. As a
          student, that means striving towards having good grades, learning career skills taught in electives, but also
          learning about myself and figuring out what I want to do with my life. My role in achieving these goals is to
          work as hard as I can during school and to learn and try everything that interests me outside of it.
        %p.lead
          When I shadowed Griffin at the start of this year, there were tons of qualities that instantly made me fall in
          love with the school. All of the classes were extremely engaging. I'm interested in programming, and the
          coding class I shadowed was a delight. It was engaging and the activity was fun and challenging. I loved how
          the World Geography class incorporated a hands-on writing exercise. Still, what makes me want to attend the
          most is the culture. When I shadowed, everyone was friendly and supportive to each other. The hallways were
          filled with excitement and music, almost as if it was out of a scene from a movie. Griffin seems like a school
          that is perfect for me - it's engaging and challenging, and there was no class in which I was bored or staring
          off into space, watching the time tick by. That's a good sign.

%section.information
  .text-xs-center.header
    %h2 Student Information
  .container
    .row
      .col-md-8.offset-md-2
        .row#information{data: {encrypted: encrypt_data(data.student, data.secret)}}
          .alert.alert-warning.share-alert(role="alert" style="display: none")
            <strong>Before you share:</strong> This section is encrypted and contains personal information.
            Before sharing this application, click here to remove the encryption key from the link.
          .alert.alert-danger(role="alert" style="display: none")
            <strong>Oh snap!</strong> This section is encrypted and contains personal information.
            To access it, you'll need to use a special link. If you feel you should be able to
            access it, please contact me.
          .card-template(style="display: none")
            .card.col-xs-6.col-sm-auto.m-1
              .card-block
                %p.lead.card-title
                %h6.mb2.card-subtitle.text-muted
        .row.my-4#short-response
          .response-template(style="display: none")
            .row.my-1.response
              %h3.prompt Prompt
              %p.lead.answer response
%section.signature
  .text-xs-center.header
    %h2 Signature
  .container
    .row
      %p.lead
        By signing below, I affirm that all information in this Application for Admission is correct and
        complete to the best of my knowledge and that I have not withheld information that is
        pertinent to my application for enrollment at Griffin School.
      %p.lead
        Griffin School is an educational community that is more than the sum of its academic parts.
        Being a Griffin School student entails more than merely attending classes and completing
        school work. It requires that you make a commitment to the Essential Values of the school
        and participate fully in school activities and events.
      %p.lead
        By signing below, I signify that I understand the commitment asked of Griffin School students,
        and I agree to active involvement in the school community as indicated above.
      .row
        .col-xs-auto
          Not signed yet... soon!
          =# image_tag 'signature.png'
        .col-xs-auto.mt-5
          %p.lead.date= DateTime.now.strftime("%B %e, %Y")
