---
title: Ben Aubin
---

%section.top
  #name-block.text-xs-center
    %h1.name Ben Aubin
  .scroll-button
    %i(class="material-icons") arrow_drop_down
%section.timeline-header
  .text-xs-center
    %h2 My life:
%section.timeline
  .timeline-item
    = image_tag "./assets/images/noun-project/baby/noun_baby_cc.png", width: 50
    .title
      %h2 Born
    .date.lead Febuary 20th, 2003
    .content
      %p.lead I was born on Febuary 20th, 2003, making me 13 years old as of the date this application was submitted.
  .timeline-item
    = image_tag "./assets/images/noun-project/baby/noun_baby_cc.png", width: 50
    .title
      %h2 Born
    .date.lead Febuary 20th, 2003
    .content
      %p.lead I was born on Febuary 20th, 2003, making me 13 years old as of the date this application was submitted.
  .timeline-item
    = image_tag "./assets/images/noun-project/baby/noun_baby_cc.png", width: 50
    .title
      %h2 Born
    .date.lead Febuary 20th, 2003
    .content
      %p.lead I was born on Febuary 20th, 2003, making me 13 years old as of the date this application was submitted.